.jfx-button:hover {
    -jfx-button-type: RAISED;
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: green;
    -fx-text-fill: white;
}
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 12px;
    -jfx-button-type: RAISED;
    -fx-background-color:  #3F2B63;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.button-raised:hover{
    -jfx-button-type: RAISED;
    -fx-background-color: GRAY;
    -fx-:1px;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}